body {
    background-image: url("../img/food.png");
    background-repeat: repeat;
}

li {
    list-style-type: none;
}

.jumbotron {
    background-image: url("../img/burgers.jpg");
    color: white;
}